In [1]:
from tab_forge.dataset import Dataset
import pandas as pd

In [2]:
df = pd.read_csv("abalone.csv")

In [3]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Покрутим полностью зарегестрированный датасет

In [4]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=["Sex"],
    numerical_features=["Length", "Diameter", "Height", "Whole weight", "Shucked weight", "Viscera weight", "Shell weight"])

In [5]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [6]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 7,
 'n_categorical': 1,
 'n_unregistered': 0,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [7]:
dataset.get_registered_features()

['Sex',
 'Length',
 'Diameter',
 'Height',
 'Whole weight',
 'Shucked weight',
 'Viscera weight',
 'Shell weight']

In [8]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки ['Sex']
Числовые признаки ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']

In [9]:
dataset.get_registered_data().head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [10]:
dataset.get_registered_data().shape

(4177, 9)

Покрутим датасет с неполными зарегестрированными данными.

In [11]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=[],
    numerical_features=["Diameter", "Length", "Height", "Whole weight", "Shell weight"])

In [12]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [13]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 5,
 'n_categorical': 0,
 'n_unregistered': 3,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [14]:
dataset.get_registered_features()

['Length', 'Diameter', 'Height', 'Whole weight', 'Shell weight']

In [15]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки []
Числовые признаки ['Diameter', 'Length', 'Height', 'Whole weight', 'Shell weight']

In [16]:
dataset.get_registered_data().shape

(4177, 6)

In [17]:
dataset.get_registered_data().head()

   Length  Diameter  Height  Whole weight  Shell weight  Rings
0   0.455     0.365   0.095        0.5140         0.150     15
1   0.350     0.265   0.090        0.2255         0.070      7
2   0.530     0.420   0.135        0.6770         0.210      9
3   0.440     0.365   0.125        0.5160         0.155     10
4   0.330     0.255   0.080        0.2050         0.055      7

In [18]:
dataset.get_data().shape

(4177, 9)

In [19]:
dataset.get_data().head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Поразделяем данные

In [20]:
train, test = dataset.train_test_split(test_size=0.2, random_state=42)

In [21]:
print(train)
print(test)

Dataset(samples=3341, features=8, task='regression')
Dataset(samples=836, features=8, task='regression')

In [22]:
train.get_registered_data().head()

   Length  Diameter  Height  Whole weight  Shell weight  Rings
0   0.550     0.445   0.125        0.6720         0.210     11
1   0.475     0.355   0.100        0.5035         0.140      8
2   0.305     0.225   0.070        0.1485         0.045      7
3   0.275     0.200   0.065        0.1165         0.035      7
4   0.495     0.380   0.135        0.6295         0.215     12

In [23]:
test.get_registered_data().head()

   Length  Diameter  Height  Whole weight  Shell weight  Rings
0   0.605     0.455   0.160        1.1035         0.325      9
1   0.590     0.440   0.150        0.8725         0.245      8
2   0.560     0.445   0.195        0.9810         0.335     16
3   0.635     0.490   0.170        1.2615         0.380      9
4   0.475     0.385   0.145        0.6175         0.215     14