In [1]:
from tab_forge.dataset import Dataset
import pandas as pd

In [2]:
df = pd.read_csv("abalone.csv")

In [3]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Покрутим полностью зарегестрированный датасет

In [4]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=["Sex"],
    numerical_features=["Length", "Diameter", "Height", "Whole weight", "Shucked weight", "Viscera weight", "Shell weight"])

In [5]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [6]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 7,
 'n_categorical': 1,
 'n_unregistered': 0,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [7]:
dataset.get_registered_features()

['Sex',
 'Length',
 'Diameter',
 'Height',
 'Whole weight',
 'Shucked weight',
 'Viscera weight',
 'Shell weight']

In [8]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки ['Sex']
Числовые признаки ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']

In [9]:
dataset.get_registered_data().head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [10]:
dataset.get_registered_data().shape

(4177, 9)

Покрутим датасет с неполными зарегестрированными данными.

In [20]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=[],
    numerical_features=["Diameter", "Length", "Height", "Whole weight", "Shell weight"])

In [21]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [22]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 5,
 'n_categorical': 0,
 'n_unregistered': 3,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [23]:
dataset.get_registered_features()

['Length', 'Diameter', 'Height', 'Whole weight', 'Shell weight']

In [24]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки []
Числовые признаки ['Diameter', 'Length', 'Height', 'Whole weight', 'Shell weight']

In [25]:
dataset.get_registered_data().shape

(4177, 6)

In [26]:
dataset.get_registered_data().head()

   Length  Diameter  Height  Whole weight  Shell weight  Rings
0   0.455     0.365   0.095        0.5140         0.150     15
1   0.350     0.265   0.090        0.2255         0.070      7
2   0.530     0.420   0.135        0.6770         0.210      9
3   0.440     0.365   0.125        0.5160         0.155     10
4   0.330     0.255   0.080        0.2050         0.055      7

In [27]:
dataset.get_data().shape

(4177, 9)

In [28]:
dataset.get_data().head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7