In [1]:
from tab_forge.dataset import Dataset
import pandas as pd

In [2]:
df = pd.read_csv("abalone.csv")

In [3]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Покрутим полностью зарегестрированный датасет

In [4]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=["Sex"],
    numerical_features=["Length", "Diameter", "Height", "Whole weight", "Shucked weight", "Viscera weight", "Shell weight"])

In [5]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [6]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 7,
 'n_categorical': 1,
 'n_unregistered': 0,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [7]:
dataset.get_registered_features()

['Shucked weight',
 'Sex',
 'Shell weight',
 'Height',
 'Diameter',
 'Length',
 'Whole weight',
 'Viscera weight']

In [8]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки ['Sex']
Числовые признаки ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']

In [9]:
dataset.get_registered_data().head()

,Shucked weight,Sex,Shell weight,Height,Diameter,Length,Whole weight,Viscera weight,Rings
0,0.2245,M,0.150,0.095,0.365,0.455,0.5140,0.1010,15
1,0.0995,M,0.070,0.090,0.265,0.350,0.2255,0.0485,7
2,0.2565,F,0.210,0.135,0.420,0.530,0.6770,0.1415,9
3,0.2155,M,0.155,0.125,0.365,0.440,0.5160,0.1140,10
4,0.0895,I,0.055,0.080,0.255,0.330,0.2050,0.0395,7

In [10]:
dataset.get_registered_data().shape

(4177, 9)

Покрутим датасет с неполными зарегестрированными данными.

In [11]:
dataset = Dataset(
    df,
    target="Rings",
    task_type="regression",
    categorical_features=[],
    numerical_features=["Length", "Diameter", "Height", "Whole weight", "Shell weight"])

In [12]:
dataset

Dataset(samples=4177, features=8, task='regression')

In [13]:
dataset.summary()

{'shape': (4177, 9),
 'task_type': 'regression',
 'target': 'Rings',
 'n_numerical': 5,
 'n_categorical': 0,
 'n_unregistered': 3,
 'missing_values': {'Sex': 0,
  'Length': 0,
  'Diameter': 0,
  'Height': 0,
  'Whole weight': 0,
  'Shucked weight': 0,
  'Viscera weight': 0,
  'Shell weight': 0,
  'Rings': 0}}

In [14]:
dataset.get_registered_features()

['Shell weight', 'Height', 'Diameter', 'Length', 'Whole weight']

In [15]:
print("Категориальные признаки",dataset.get_categorical_features())
print("Числовые признаки",dataset.get_numerical_features())

Категориальные признаки []
Числовые признаки ['Length', 'Diameter', 'Height', 'Whole weight', 'Shell weight']

In [16]:
dataset.get_registered_data().shape

(4177, 6)

In [17]:
dataset.get_registered_data().head()

   Shell weight  Height  Diameter  Length  Whole weight  Rings
0         0.150   0.095     0.365   0.455        0.5140     15
1         0.070   0.090     0.265   0.350        0.2255      7
2         0.210   0.135     0.420   0.530        0.6770      9
3         0.155   0.125     0.365   0.440        0.5160     10
4         0.055   0.080     0.255   0.330        0.2050      7

In [18]:
dataset.get_data().head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [19]:
dataset.get_data().shape

(4177, 9)